# Filter dates

In [104]:
import pandas as pd

df = pd.read_csv("data/power_consumption_g3_feat.csv")
df

,Date,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows
0,2017-03-01 16:40:00,21.33,55.91,0.080,387.400,427.300
1,2017-07-27 06:30:00,23.10,48.58,4.908,10.450,8.630
2,2017-10-11 19:00:00,23.10,59.82,0.084,0.446,0.322
3,2017-02-10 06:50:00,12.25,80.80,4.916,0.051,0.111
4,2017-03-06 16:00:00,15.62,59.38,0.075,533.400,579.900
...,...,...,...,...,...,...
52411,2017-05-14 02:20:00,23.58,43.10,0.075,0.110,0.122
52412,2017-11-17 19:20:00,17.30,76.50,0.075,0.040,0.148
52413,2017-03-21 12:10:00,17.90,50.28,0.081,837.000,296.700
52414,2017-07-28 05:10:00,25.23,61.32,4.907,0.091,0.119
52415,2017-12-16 20:30:00,13.90,80.80,0.082,0.051,0.152

### 1. Ensure Date is in Datetime Format

In [106]:
df["Date"] = pd.to_datetime(df["Date"])

### 2. Filter Data Between Two Dates

In [108]:
start_date = "2023-01-01"
end_date = "2023-02-01"

df_filtered = df[(df["Date"] >= start_date) & (df["Date"] <= end_date)]

### 3. Filter Data Before a Specific Date

In [110]:
cutoff_date = "2023-01-01"
df_before = df[df["Date"] < cutoff_date]

### 4. Filter Data After a Specific Date

In [112]:
cutoff_date = "2023-01-01"
df_after = df[df["Date"] > cutoff_date]

### 5. Group Data Between Two Dates

In [114]:
df_between = df[(df["Date"] >= "2023-01-01") & (df["Date"] <= "2023-02-01")]
df_grouped = df_between.groupby(pd.Grouper(key="Date", freq="D")).mean()

## 6. Resample Data Before or After a Date

### 1. Before a Date:

In [117]:
df_before = df[df["Date"] < "2023-01-01"]
df_resampled = df_before.resample("D", on="Date").mean()

### 2. After a Date:

In [119]:
df["Date"] = pd.to_datetime(df["Date"])  # Convert to datetime
df_after = df[df["Date"] > "2023-01-01"]  # Filter

df_resampled = df_after.groupby(pd.Grouper(key="Date", freq="D")).mean()