In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

In [7]:
df = pd.read_csv('data_g1.csv')

In [9]:
df.head()

,id,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),systolic,...,HDL,LDL,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,dental caries,smoking
0,1,70,165,65,89.0,0.6,0.7,2,2,146,...,57,126,16.2,1,1.1,27,23,37,1,0
1,3,35,180,95,105.0,1.5,1.2,1,1,131,...,38,102,15.9,1,1.0,20,27,30,1,0
2,6,45,160,55,69.0,1.5,1.2,1,1,150,...,69,122,13.0,1,0.7,17,12,16,0,0
3,7,55,155,60,84.5,0.7,0.9,1,1,137,...,51,198,14.5,1,0.7,16,15,16,0,0
4,9,40,155,50,73.0,1.5,1.5,1,1,105,...,55,122,13.2,1,0.7,22,16,14,0,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119603 entries, 0 to 119602
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   119603 non-null  int64
 1   age                  119603 non-null  int64
 2   height(cm)           119603 non-null  int64
 3   weight(kg)           119603 non-null  int64
 4   waist(cm)            119603 non-null  float64
 5   eyesight(left)       119603 non-null  float64
 6   eyesight(right)      119603 non-null  float64
 7   hearing(left)        119603 non-null  int64
 8   hearing(right)       119603 non-null  int64
 9   systolic             119603 non-null  int64
 10  relaxation           119603 non-null  int64
 11  fasting blood sugar  119603 non-null  int64
 12  Cholesterol          119603 non-null  int64
 13  triglyceride         119603 non-null  int64
 14  HDL                  119603 non-null  int64
 15  LDL                  119603 non-null  int64
 16  hemoglobin           119603 non-null  float64
 17  Urine protein        119603 non-null  int64
 18  serum creatinine     119603 non-null  float64
 19  AST                  119603 non-null  int64
 20  ALT                  119603 non-null  int64
 21  Gtp                  119603 non-null  int64
 22  dental caries        119603 non-null  int64
 23  smoking              119603 non-null  int64
dtypes: float64(5), int64(19)
memory usage: 21.9 MB

In [15]:
df.isnull().sum()

id                     0
age                    0
height(cm)             0
weight(kg)             0
waist(cm)              0
eyesight(left)         0
eyesight(right)        0
hearing(left)          0
hearing(right)         0
systolic               0
relaxation             0
fasting blood sugar    0
Cholesterol            0
triglyceride           0
HDL                    0
LDL                    0
hemoglobin             0
Urine protein          0
serum creatinine       0
AST                    0
ALT                    0
Gtp                    0
dental caries          0
smoking                0
dtype: int64